main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main h3 {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #1e2a38;
    color: #fff; 
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 5px;
    border: none; 
    border-radius: 3px;
    background-color: transparent;  
    color: #3d4ad994; 
}
